/* Center the chart and adjust for different screen sizes */
.chartContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

}

.dataCard {
  background-color: #ffffff;
  border-radius: 1em;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin: 1rem;
  width: 50%;  /* Adjust the width to make the chart larger */
  max-width: 600px; /* Ensure a max width */
  transition: transform 0.2s ease;
}
.dougnut{width: '10px';}
.dataCard:hover {
  transform: translateY(-5px);
}

.categoryCard {
  height: auto; /* Let the height adapt based on content */
}

.chartTitle {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333333;
  text-align: center;
  margin-bottom: 1rem;
}

/* Media query for tablets */
@media (max-width: 768px) {
  .dataCard {
    width: 80%; /* Adjust width for smaller screens */
    padding: 1.5rem;
  }
}

/* Media query for very small screens */
@media (max-width: 480px) {
  .dataCard {
    width: 100%;
    padding: 1rem;
  }

  .chartTitle {
    font-size: 1.25rem; /* Adjust text size for small screens */
  }
}
